<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="spacer"></span>
  <button mat-icon-button routerLink="/login" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>lock</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" routerLink="point-card/qr" aria-label="Example icon-button with share icon">
    <mat-icon>qr_code</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" routerLink="point-card" aria-label="Example icon-button with share icon">
    <mat-icon>view_agenda</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" routerLink="point-card/scan" aria-label="Example icon-button with share icon">
    <mat-icon>qr_code_scanner</mat-icon>
  </button>
</mat-toolbar>

<div id="container">
  <router-outlet></router-outlet>
</div>